/*  comments  */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

body {
    font-family: Ariel;
    background: lavender;
    text-align: left;
}

.headers{
  color:blueviolet;
}

.footer{
  background-color:black;
  padding:7px;
  color:white;
}

#top{
  background-color:black;
  color:white;
}
