table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

body {
  font-family: Helvetica;
  font-size:14px;
  background: lavender;
  text-align: left;
}

.headers {
  color: blueviolet;
  font-family:Times;
}

.footer {
  background-color: black;
  padding: 7px;
  color: white;
}
.therecipe{
  padding:10px;
  background-color:#F2FDFF
}
/* Comments */
#top {
  background-color: black;
  color: white;
}
