body {
  font-family: Helvetica;
  font-size:14px;
  background: lavender;
  text-align: left;
}

.headers {
  color: blueviolet;
  font-family:Times;
}

.footer {
  background-color: black;
  padding: 22px;
  color: white;
}
.therecipe{
  padding:10px;
  background-color:#ADD8E6
}

#top {
  padding:10px;
  background-color: black;
  color: white;
}

.lists{
  line-height: 1.8;
}
